<link rel="stylesheet" href="/css/home.css">
<script src="/js/home.js"></script>
<div id = "navbar">
<a class="btn" href = "/admin">Admin</a>
<a class="btn" href = "/creative-writing-admin">Creative Writing</a>
<a class="btn active" href = '/book-reviews-admin'>Book Reviews</a>
<a class="btn" href = "/blog-admin">Blog</a>
<a class="btn">Contact Us</a>
</div>
<div id="place-holder">
<%for(var i=0;i< bookreview.length;i++){%>
<div class="card">
<h2>Title: <%=bookreview[i].title%></h2>
<h2>Author: <%=bookreview[i].author%></h2>
<div class = "comment">
<p>Content: <%- bookreview[i].content%></p>
</div>
<button><a href='/book-reviews-admin/remove-book/:<%= bookreview[i].title %>' style="color: white;">Delete</a></button>
<button><a href='/book-reviews-admin/edit-book/:<%= bookreview[i].title %>' style="color: white;">Edit</a></button>
</div>
<br><br>
<%}%>
</div>
